# Standard Desktop Folders
Backgrounds
Code/*
!Code/Scripts
!Code/Projects
Documents
Downloads
Music
Pictures
Videos

# Misc files
.Xauthority
pic*.png
mpv-shot*

# App Data
.local/lib
.local/share/*
!.local/share/stumpwm
.local/state

# App Cache
.cache/*
!.cache/wal/

# Ignored configs
.android
.audacity-data
.bash_logout
.bash_profile
.ccls-cache
.cgdb
.dotnet
.elmo
.erc
.gnupg
.gradle
.java
.metals
.mozilla
.npm
.nuget
.pki
.slime
.surf
.texlive
.w3m
.authinfo.gpg
.config/GIMP
.config/activitywatch
.config/bless
.config/bspwm
.config/calcurse
.config/configstore
.config/dconf
.config/discord
.config/easytag
.config/enchant
.config/fontforge
.config/hardinfo
.config/htop
.config/i3
.config/i3blocks
.config/jgit
.config/menus
.config/mpd/playlists
.config/mpv/watch_later
.config/ncmpcpp/error.log
.config/nvim
.config/procps
.config/projectM
.config/pulse
.config/ranger
.config/rclone
.config/spicetify/Backup
.config/spicetify/Extracted
.config/spotify
.config/sxhkd
.config/sxiv
.config/transmission-daemon/blocklists
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents
.config/vifm
.config/vlc
.config/wall.png
.config/xfce4
.config/youtube-viewer/api.json
.config/zsh/.zcompdump

# History files
.bash_history
.gnuplot_history
.python_history
.stumpish_history*

/.config/nyxt/
/.config/oomox/colors/colors-oomox
/.config/oomox/colors/xresources-reverse
/.config/qt5ct/
/.gtkrc-2.0

/.icons/

/.local/src/aw-watcher-spotify/
/.themes/
/.ivy2/
/.m2/
/.scala_history_jline3
/.g8/
/.config/calibre/viewer/annots/*.json
/.authinfo
/.sbt/1.0/staging/
/.sbt/1.0/target/
/.sbt/1.0/templates/
/.sbt/1.0/zinc/
/.sbt/boot/
/.ssh/
*.bz2
/.local/src/ALAuto/
*.pyc
.#*
/.config/ppsspp/PSP/PPSSPP_STATE/
/.config/ppsspp/PSP/Cheats/
*.glshadercache
/.config/Kitware/
/.config/QtProject.conf
/.cache/wal/colors-kitty.conf
/.cache/wal/colors-konsole.colorscheme
/.cache/wal/colors-putty.reg
/.cache/wal/*.json
/.cache/wal/*.h
/.cache/wal/colors.Xresources
/.cache/wal/colors.hs
/.cache/wal/colors.ini
/.cache/wal/colors.scss
/.cache/wal/colors.sh
/.cache/wal/colors.yml
/.cache/wal/schemes/
/.cache/wal/sequences
/.cache/wal/wal
/.cache/wal/colors-wal.vim
/.cache/wal/colors-waybar.css
/.cache/wal/colors-tty.sh
/.cache/wal/colors-sway
/.cache/wal/colors-rofi-light.rasi
/Games/
/.stumpwm.d/
ttttttttttttttttttttttttttttttttttttttttttt
/.config/mpd/mpd.db
/.config/mpd/mpd.pid
/quicklisp/
/.zcompdump
/.inputrc
/.config/gtk-2.0/gtkfilechooser.ini
/.cache/
/.sbt/1.0/swoval-jni/
/.sqlite_history
