[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule "/home/kalelzar/.config/emacs"]
	path = .config/emacs
	url = https://github.com/Kalelzar/emacs.git
[submodule "/home/kalelzar/.config/spicetify/CustomApps/genius"]
	path = .config/spicetify/CustomApps/genius
	url = https://github.com/khanhas/genius-spicetify
[submodule "/home/kalelzar/.local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/lukesmithxyz/dmenu.git
[submodule "/home/kalelzar/.local/src/lfimg"]
	path = .local/src/lfimg
	url = https://github.com/cirala/lfimg.git
[submodule "/home/kalelzar/.local/src/st"]
	path = .local/src/st
	url = https://github.com/Kalelzar/st.git
[submodule ".local/src/Sarge"]
	path = .local/src/Sarge
	url = git@github.com:RedDocMD/Sarge
