# Standard Desktop Folders
Music
Downloads
Documents
Code/*
!Code/Scripts
Backgrounds
Pictures
Videos

# Misc files
.Xauthority
pic*.png

# App Data
.local/share/*
!.local/share/stumpwm
.local/state
.local/lib

# App Cache
.cache

# Ignored configs
.android
.audacity-data
.bash_logout
.bash_profile
.ccls-cache
.cgdb
.dotnet
.elmo
.erc
.gnupg
.gradle
.java
.metals
.mozilla
.npm
.nuget
.pki
.slime
.surf
.texlive
.w3m
.config/activitywatch
.config/bless
.config/bspwm
.config/calcurse
.config/configstore
.config/discord
.config/easytag
.config/enchant
.config/GIMP
.config/hardinfo
.config/htop
.config/fontforge
.config/i3
.config/i3blocks
.config/jgit
.config/menus
.config/nvim
.config/procps
.config/projectM
.config/pulse
.config/ranger
.config/rclone
.config/spotify
.config/spicetify/Extracted
.config/spicetify/Backup
.config/sxhkd
.config/sxiv
.config/transmission-daemon/blocklists
.config/transmission-daemon/resume
.config/transmission-daemon/torrents
.config/transmission-daemon/dht.dat
.config/vifm
.config/vlc
.config/xfce4
.config/youtube-viewer/api.json
.config/wall.png
.config/transmission-daemon/stats.json

# History files
.bash_history
.python_history
.stumpish_history*
.gnuplot_history