#!/bin/sh

# Ran when startx/xinit is ran.

export SBCL_HOME="/usr/lib/sbcl"

# setbg &			# set the background with the `setbg` script
# xcompmgr &		# xcompmgr for transparency

# Load global scripts
for i in $(find "$HOME/.config/xprofile.d" -maxdepth 1 -type f)
do
    . "$i"
done

LOC="$(find "$HOME/.config/xprofile.d" -maxdepth 1 -type d | grep $(uname -n))"
for i in $(find "$LOC" -maxdepth 1 -type f)
do
    . "$i"
done
