configuration {
  sidebar-mode: true;
  auto-select: true;
  monitor: "-2";
  scroll-method: 0;
  modi: [window, ssh, run];
}
@import "~/.cache/wal/colors-rofi-dark.rasi"
@theme "/usr/share/rofi/themes/sidebar.rasi"
